fieldset {
    width: 20vw;
    margin: 20px 0px;
    background-color: hsl(300, 18%, 96%);
}

  .container {
    padding: 10px 0px;
  }
  
  .note {
    position: relative;
    background-color: rgba(69, 42, 199, 0.1);
    padding: 10px 10px;
    width: 20vw;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .note-text {
    margin: 0px 0px 20px 0px;
    max-width: 95%;
  }
  
  .note-date {
    text-align: right;
    font-size: 0.75em;
  }
  
  .note-delete {
    position: absolute;
    width: fit-content;
    right: 10px;
    top: 5px;
    background-color: none;
    border: none;
  }